#middle{
	margin-top: -90px;
}
#left{
	margin-top: 50px;
}
#right{
	margin-top: 59px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}
.ch-info{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

/*.ch-info .ch-info-front {
	box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}*/

.ch-info .ch-info-back {
	-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);

	opacity: 0;
}

.ch-img-1 { 
	background-image: url(../img/pampero1.jpg);
	background-size: cover;
	box-shadow: inset 0 0 0 150px rgba(204,153,0,0.3);
}
.ch-img-2 { 
	background-image: url(../img/movil.jpg);
	background-size: cover;
}
.ch-img-3 { 
	background-image: url(../img/euromobil-prinicipal-1024x419.jpg);
	background-size: cover;
	box-shadow: inset 0 0 0 150px rgba(224,53,53,0.3);
}
.ch-img-4 { 
	background-image: url(../img/flota-euromobil-1024x431.jpg);
	background-size: cover;
	box-shadow: inset 0 0 0 150px rgba(0,152,0,0.3);
}
.ch-img-5 { 
	background-image: url(../img/serv-img5.jpg);
	background-size: cover;
	
}

.ch-info h5 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	margin: 0 15px;
	padding: 60px 0 0 0;
	height: 110px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-front {
	-webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-o-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}

section.service-w3l {
    /*padding: 100px 0;*/
    background: url(../img/service1.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section.service-w3l span.fa.fa-star-o {
    font-size: 25px;
    color: #fff;
    display: block;
    text-align: center;
    margin-top: -16px;
    margin-bottom: 50px;
}
.col-lg-4.col-md-4.col-sm-6.serv-agileinfo2 {
    padding-top: 150px;
}

img {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}


ul li {
    list-style-type: none;
}
.ch-grid {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 0px;
}

section.service-w3l h4.text-center {
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    padding: 20px 0;
    text-transform: capitalize;
    font-family: 'Poiret One', cursive;
}

section.service-w3l p.text-center {
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    color: #fff;
}

.particle{
	position: absolute;
	width: 100%;
	height: 100%;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

#service .logo{
	filter: brightness(0) invert(1);
}
#service {
	    min-height: 100vh;
}
.overlay{
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
}
#blog {
	    min-height: 100vh;
}


.service-content{
	width: calc(100% - 130px);
	display: inline-block;
}

.servicesimg{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 15px;
	overflow: hidden;
	border: 1px solid;
	border-top-color: currentcolor;
	border-right-color: currentcolor;
	border-bottom-color: currentcolor;
	border-left-color: currentcolor;
	border-color: inherit;
	background: rgba(255, 255, 255, 0.1);
	margin: 40px 10px;
	float: left;
	padding: 15px;
	
}

.servicesimg img{
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
.rigth{
	float: right !important;
}

.rigthtxt{
	text-align: right !important;
}

.servicio:hover{
	background: rgba(0, 0, 0, .1);
}
